tag=VK Music - VK音乐
#!desc=登陆后解锁VIP
#!date=2025-08-14


[rewrite_local]
https://api.moosic.io/(user/info|subscription/presentation/current_subscriptions_data) url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/VKMusic.js

[MITM]
hostname = api.moosic.io
