#!name=YandexMusic--Яндекс Музыка, книги, подкасты
#!desc=登陆后解锁VIP
#!date=2025-08-14
#!category=😍BOBO Premium
#!author= Yarmukhamedov[https://github.com/Yarmukhamedov/mitm]
#!icon=https://raw.githubusercontent.com/BOBOLAOSHIV587/Rules/main/Icons/AppIcons/Image/App/YandexMusic.png
#!openUrl=https://apps.apple.com/app/id520797969


[rewrite_local]
https://api.music.yandex.net/account/status.* url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/YandexMusic.js

[MITM]
hostname = api.music.yandex.net, api.plus.yandex.ru
