[rewrite_local]
https://api.music.yandex.net/account/status.* url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/YandexMusic.js
https://api.plus.yandex.ru/(graphql|api.music.yandex.net/account/status) url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/YandexNavi.js


[MITM]
hostname = api.music.yandex.net, api.plus.yandex.ru
